@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



.wrapper{
    display: flex;
    flex-direction: row;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 40rem;
}

.progress-done {
	background: linear-gradient(to left, #9cdee0, #2e6592);
	box-shadow: 0 3px 3px -5px #120549, 0 2px 5px #104e5e;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 77%;
	opacity: 0;
	transition: 1s ease 3s;
}
.move{
    margin-left: 9rem;
}